{% extends 'layout.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Checkout</h1>

    {% if cart_items %}
      <div class="row">
        <div class="col-md-8">
          <form method="post" action="{{ url_for('cart.checkout') }}" class="mb-4">
            {{ form.csrf_token }}

            <h2>Order Summary</h2>
            <table class="table table-bordered">
              <thead class="table-dark">
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart_items %}
                  <tr>
                    <td>{{ item.product.brand }}</td>
                    <td>
                      <input type="number" name="quantity_{{ item.product.id }}" value="{{ item.quantity }}" min="1" max="{{ item.product.quantity_in_stock }}" readonly class="form-control">
                    </td>
                    <td>Ksh. {{ item.product.unit_price * item.quantity }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <h3 class="mb-4">Total Price: Ksh. {{ total_price }}</h3>

             <div class="form-group">
            {{ form.location.label }}
            {{ form.location(class="form-control") }}
          </div>

            <div class="mb-3">
              <label for="address_line" class="form-label">Address</label>
              {{ form.address_line(class="form-control") }}
            </div>

            <div class="mb-3">
              <label for="additional_info" class="form-label">Additional Information</label>
              {{ form.additional_info(class="form-control") }}
            </div>

            <div class="mb-3">
              <label for="payment_method" class="form-label">Payment Method</label>
              {{ form.payment_method(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
      </div>
    {% else %}
      <p class="lead">Your cart is empty. Add items to your cart before checking out.</p>
    {% endif %}
  </div>
  <script>
    // Add any additional JavaScript if needed
    document.getElementById('locateBtn').addEventListener('click', function() {
      // Implement logic to use the user's location if needed
    });
  </script>
{% endblock %}
