{% extends 'layout.html' %}

{% block content %}
<style>
    /* Themed Colors */
    .primary-color {
      color: purple; /* purple */
    }

    .secondary-color {
      color: #FFC107; /* Yellow */
    }

    .tertiary-color {
      color: #2196F3; /* Blue */
    }

    /* Animations */
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    /* Page Loader */
    .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader {
      border: 5px solid #f3f3f3;
      border-radius: 50%;
      border-top: 5px solid #3498db;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>


  <div class="loader-container" id="loader-container">
    <div class="loader"></div>
  </div>

  <div class="container mt-2 mb-1">
    <div class="row">
      <div class="col-md-12 mb-1" style="text-align:center;">
        <a href="{{ url_for('cart.view_cart') }}" class="btn btn-secondary mb-3">Back to Cart</a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title mb-4 primary-color">Checkout</h3>

            {% if cart_items %}
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in cart_items %}
                      <tr>
                        <td>{{ item.product.brand }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>Ksh. {{ item.product.unit_price * item.quantity }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="mb-2">
                <p class="text-muted text-center">Standard shipping fee : Ksh 200.</p>
                <h4 class="primary-color mb-4 text-center">Total Amount + shipping: Ksh. {{ total_price }}</h4>
                
              </div>


              <div class="mb-4">
    <form method="POST" action="{{ url_for('cart.checkout') }}">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            <h4 class="tertiary-color">Shipping Information</h4>
            <div class="mb-3">
                <label for="full_name" class="form-label">Full Name</label>
                <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Enter your full name" required>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="tel" id="phone_number" name="phone_number" class="form-control" placeholder="Enter your phone number" required>
                </div>
                <div class="col-md-6">
                    <label for="alt_phone_number" class="form-label">Alternative Phone</label>
                    <input type="tel" id="alt_phone_number" name="alt_phone_number" class="form-control" placeholder="Enter alternative phone number">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="location" class="form-label">Select Location</label>
                    {{ form.location(class="form-control", id="location", required=true) }}
                </div>

                <div class="col-md-4">
                    <label for="arealine" class="form-label">Select Arealine</label>
                    {{ form.arealine(class="form-control", id="arealine", required=true) }}
                </div>

                <div class="col-md-4">
                    <label for="nearest_place" class="form-label">Select Nearest Place</label>
                    {{ form.nearest_place(class="form-control", id="nearest_place", required=true) }}
                </div>
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Delivery Address</label>
                {{ form.address_line(class="form-control", id="address", rows="3", placeholder="Enter your delivery address", required=true) }}
            </div>
        </div>

        <div class="mb-4">
            <h4 class="secondary-color">Additional Information</h4>
            <div class="mb-3">
                <label for="additional_info" class="form-label">Special Instructions</label>
                {{ form.additional_info(class="form-control", id="additional_info") }}
            </div>
        </div>

        <div class="mb-4">
            <h4 class="tertiary-color">Payment Method</h4>
            <div class="mb-3">
                {{ form.payment_method.label }} {{ form.payment_method(class="form-control", required=true) }}
            </div>
        </div>
<div class="mb-4 row justify-content-center">
        <button type="submit" class="btn btn-success btn-lg ">Place Order</button>
    </form>
</div>

            
            {% else %}
              <div class="alert alert-info text-center" role="alert">
                Your grocery cart is empty.
                <a href="{{url_for('main.product_listing')}}">EXPLORE OUR STORE</a>
                and add items before checking out.
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function () {
    // Toggle new address section based on the checkbox
    $('#use_saved_address').change(function () {
      $('#new-address-section').toggle(!this.checked);
    });
  });

  $(document).ready(function () {
    // Fetch locations on page load
    $.ajax({
      url: "/admin/get_locations",
      type: "GET",
      beforeSend: function () {
        // Show loading spinner
        $("#loader-container").show();
        $("#location").prop("disabled", true).html("<option> Fetching ...</option>");
        $("#arealine, #nearest_place").prop("disabled", true).html("<option>Select Arealine</option>");
      },
      success: function (response) {
        // Update locations dropdown
        var locationsDropdown = $("#location");
        locationsDropdown.prop("disabled", false).empty();
        locationsDropdown.append('<option value="" disabled selected>Select Location</option>');
        $.each(response.locations, function (index, location) {
          locationsDropdown.append('<option value="' + location.id + '">' + location.name + "</option>");
        });
      },
      complete: function () {
        // Hide loading spinner
        $("#loader-container").hide();
      }
    });

    // Handle location change
    $("#location").change(function () {
      var selectedLocation = $(this).val();

      // Fetch arealines based on the selected location
      $.ajax({
        url: `/admin/get_arealines/${selectedLocation}`,
        type: "GET",
        beforeSend: function () {
          // Show loading spinner
          $("#loader-container").show();
          $("#arealine").prop("disabled", true).html("<option>Fetching data...</option>");
          $("#nearest_place").prop("disabled", true).html("<option>Select Arealine</option>");
        },
        success: function (response) {
          // Update arealine dropdown
          var arealineDropdown = $("#arealine");
          arealineDropdown.prop("disabled", false).empty();
          arealineDropdown.append('<option value="" disabled selected>Select Arealine</option>');
          $.each(response.arealines, function (index, arealine) {
            arealineDropdown.append('<option value="' + arealine.id + '">' + arealine.name + "</option>");
          });
        },
        complete: function () {
          // Hide loading spinner
          $("#loader-container").hide();
        }
      });

      // Fetch nearest places based on the selected arealine
      $.ajax({
        url: `/admin/get_nearest_places/${selectedLocation}`, // Update with the correct route
        type: "GET",
        beforeSend: function () {
          // Show loading spinner
          $("#loader-container").show();
          $("#nearest_place").prop("disabled", true).html("<option>Fetching Data...</option>");
        },
        success: function (response) {
          // Update nearest place dropdown
          var nearestPlaceDropdown = $("#nearest_place");
          nearestPlaceDropdown.prop("disabled", false).empty();
          nearestPlaceDropdown.append('<option value="" disabled selected>Select Nearest Place</option>');
          $.each(response.nearest_places, function (index, place) {
            nearestPlaceDropdown.append('<option value="' + place.id + '">' + place.name + "</option>");
          });
        },
        complete: function () {
          // Hide loading spinner
          $("#loader-container").hide();
        }
      });
    });
  });
</script>
{% endblock %}