{% extends 'layout.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.email_or_phone.label(class="form-label") }}
      {{ form.email_or_phone(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
{% endblock %}