{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="mb-4">Manage - {{ product.name }} Details</h3>

   
   <div class="card shadow-sm mb-4">
    <div class="card-body">
        <h3 class="card-title">Product Details</h3>
        <p><strong>Name:</strong> {{ product.name }}</p>
        <p><strong>Brand:</strong> {{ product.brand }}</p>
        <p>
            <strong>Price:</strong> 
            <span class="text-muted">Ksh{{ product.unit_price }}</span>
        </p>
        <p>
            <strong>Selling Price:</strong> 
            <span class="text-success font-weight-bold">Ksh{{ product.selling_price }}</span>
        </p>
        <p><strong>Quantity in Stock:</strong> {{ product.quantity_in_stock }}</p>
        <p><strong>Country of Origin:</strong> {{ product.country_of_origin }}</p>
        <p><strong>Discount:</strong> {{ product.discount_percentage }}%</p>
    </div>
</div>


     <div class="d-flex flex-wrap gap-3">
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#nameModal">Name</button>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#brandModal">Display Name</button>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#nutritionModal">Nutritional Info</button>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#priceModal">Unit Price</button>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#discountModal">Discount(%)</button>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#quantityModal">Update Stock</button>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#countryModal">Country Of Origin</button>
    </div>

<!-- Modal for editing name -->
    <div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nameModalLabel">Edit Product Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editNameForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="productName" name="name" value="{{ product.name }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
      </div>    </div>

    <!-- Modal for editing brand -->
    <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="brandModalLabel">Edit Brand</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editBrandForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="productBrand" class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="productBrand" name="brand" value="{{ product.brand }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for editing nutritional information -->
    <div class="modal fade" id="nutritionModal" tabindex="-1" aria-labelledby="nutritionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nutritionModalLabel">Edit Nutritional Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editNutritionForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="nutritionalInformation" class="form-label">Nutritional Information</label>
                            <textarea class="form-control" id="nutritionalInformation" name="nutritional_information" rows="4" required>{{ product.nutritional_information }}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <!-- Modal for updating price -->
    <div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="priceModalLabel">Update Price</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updatePriceForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="newPrice" class="form-label">New Price</label>
                            <input type="number" step="0.01" class="form-control" id="newPrice" name="new_price" value="{{ product.unit_price }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for updating discount -->
    <div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="discountModalLabel">Update Discount</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateDiscountForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="discountPercentage" class="form-label">Discount Percentage</label>
                            <input type="number" step="0.01" class="form-control" id="discountPercentage" name="discount_percentage" value="{{ product.discount_percentage }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for updating quantity -->
    <div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="quantityModalLabel">Add Stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateQuantityForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="quantityInStock" class="form-label">Add to Stock</label>
                            <input type="number" class="form-control" id="quantityInStock" name="quantity_in_stock" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for updating country of origin -->
    <div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="countryModalLabel">Update Country of Origin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateCountryForm">
                    <div class="modal-body">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="countryOfOrigin" class="form-label">Country of Origin</label>
                            <input type="text" class="form-control" id="countryOfOrigin" name="country_of_origin" value="{{ product.country_of_origin }}" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center">
          <div class="text-center me-3">
            <i class="bi bi-check-circle-fill text-success" style="font-size: 2.5rem;"></i>
          </div>
          <div>
            <p class="mb-0" id="successMessage">Your changes have been saved successfully!</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<style>
    #successModal .modal-header {
        border-bottom: none;
    }

    #successModal .modal-footer {
        border-top: none;
    }

    #successModal .btn-success {
        width: 100%;
        padding: 10px;
        font-weight: bold;
    }

    .card-body {
            padding: 1.5rem;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        .modal-content {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .modal-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
        .modal-footer {
            background-color: #f8f9fa;
            border-top: 1px solid #dee2e6;
        }
        .form-control {
            border-radius: 5px;
            border: 1px solid #ced4da;
        }
        .form-control:focus {
            border-color: #007bff;
            box-shadow: none;
        }
        .modal.fade .modal-dialog {
            transition: transform 0.3s ease-out;
        }
        .modal.fade.show .modal-dialog {
            transform: translateY(0);
        }  

</style>

    
</div>




<!-- Scripts to handle form submissions -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const showSuccessModal = (message) => {
        const successMessage = document.getElementById('successMessage');
        successMessage.textContent = message;
        const successModal = new bootstrap.Modal(document.getElementById('successModal'));
        successModal.show();
    };

    // Handle price update form submission
    document.getElementById('updatePriceForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/price', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Price updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update price.');
              }
          });
    });

    // Handle discount update form submission
    document.getElementById('updateDiscountForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/discount', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Discount updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update discount.');
              }
          });
    });

    // Handle quantity update form submission
    document.getElementById('updateQuantityForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/quantity', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Stock updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update quantity.');
              }
          });
    });

    // Handle country update form submission
    document.getElementById('updateCountryForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/country', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Country of origin updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update country of origin.');
              }
          });
    });

    // Handle name update form submission
    document.getElementById('editNameForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/name', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Name updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update name.');
              }
          });
    });

    // Handle brand update form submission
    document.getElementById('editBrandForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/brand', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Display Name updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update brand.');
              }
          });
    });

    // Handle nutritional information update form submission
    document.getElementById('editNutritionForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/product/products/update/nutrition', {
            method: 'POST',
            body: formData
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                  showSuccessModal('Nutritional information updated successfully!');
                  setTimeout(() => location.reload(), 1500);
              } else {
                  alert('Failed to update nutritional information.');
              }
          });
    });
});


</script>
{% endblock %}
