{% extends 'layout.html' %}

{% block content %}
  
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/user_dashboard.css') }}"
/>
  <!-- Include the Sidebar -->
  {% include 'sidebar.html' %}

<!-- Main Content -->
<div class="main-content">
    <div class="dashboard-header">
        <h3>Welcome to Your Dashboard</h3>
    </div>

    <div class="dashboard-content">
        <h4 class="mb-4">Recent Orders</h4>
        <div class="order-cards">
            {% for order in orders[:2] %}
            <div class="order-card">
                <div class="order-header">
                    <span class="order-id">Order #{{ order.id }}</span>
                    <span
                        class="order-status {% if order.status == 'zz' %}zz{% elif order.status == 'confirmed' %}confirmed{% else %}cancelled{% endif %}"
                    >
                        <i
                            class="fas {% if order.status == 'zz' %}fa-hourglass-start{% elif order.status == 'confirmed' %}fa-check-circle{% else %}fa-check-circle{% endif %}"
                        ></i>
                        {{ order.status }}
                    </span>
                </div>
                <div class="order-body">
                    <div class="order-info">
                        <span class="order-total"
                            >Total: Ksh. {{ order.total_price }}</span
                        >
                        <span class="order-date"
                            >Date: {{ order.order_date.strftime('%Y-%m-%d')
                            }}</span
                        >
                    </div>
                </div>
                <div class="order-footer">
                    <a
                        href="{{ url_for('main.view_order', order_id=order.id) }}"
                        class="btn-view-details"
                        >View Details</a
                    >
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('main.my_orders') }}" class="btn-view-all mt-4">View All Orders</a>

    </div>
</div>

<!-- JavaScript for Slideshow and Sidebar Toggle -->
<script></script>
{% endblock %}
