{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Order Details</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Order Information</h2>
            <ul class="list-group">
              <li class="list-group-item"><strong>Order ID:</strong> {{ order.id }}</li>
              <li class="list-group-item"><strong>Status:</strong> 
                <span class="badge bg-primary text-light">{{ order.status|capitalize }}</span>
              </li>
              <li class="list-group-item"><strong>Total Price:</strong> 
                <span class="badge bg-success">Ksh. {{ "{:,.2f}".format(order.total_price) }}</span>
              </li>
              <li class="list-group-item"><strong>Location:</strong> {{ order.location.location_name }}</li>
              <li class="list-group-item"><strong>Address:</strong> {{ order.address_line }}</li>
              <li class="list-group-item"><strong>Additional Info:</strong> {{ order.additional_info }}</li>
              <li class="list-group-item"><strong>Payment Method:</strong> {{ order.payment_method }}</li>
              <li class="list-group-item"><strong>Order Date:</strong> {{ order.order_date.strftime('%Y-%m-%d %H:%M:%S') }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Order Items</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Subtotal</th>
                  <th>Custom Description</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order.order_items %}
                  <tr>
                    <td>{{ item.product.brand }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>Ksh.{{ item.unit_price|round(2)|format }}</td>
                    <td>Ksh.{{ (item.quantity * item.unit_price)|round(2)|int|format }}</td>
                    <td>{{ item.custom_description }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      {% if order.status == 'pending' %}
        <form action="{{ url_for('admin.confirm_order', order_id=order.id) }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-success">Confirm Order</button>
        </form>
      {% elif order.status == 'confirmed' %}
        <form action="{{ url_for('admin.cancel_order', order_id=order.id) }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-danger">Cancel Order</button>
        </form>
      {% endif %}

     
    </div>

    <a href="{{ url_for('admin.view_orders') }}" class="btn btn-primary mt-4">Back to Orders</a>
  </div>
{% endblock %}
